@font-face {
  font-style: normal;
  font-family: "Lato";
  font-weight: 700;
  src: local("Lato-Bold"), local("Lato-Bold"), url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff"); }

@font-face {
  font-style: normal;
  font-family: "Lato";
  font-weight: 400;
  src: local("Lato-Regular"), local("Lato-Regular"), url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff"); }

@font-face {
  font-style: italic;
  font-family: "Lato";
  font-weight: 400;
  src: local("Lato-Italic"), local("Lato-Italic"), url("../fonts/lato-italic.woff2") format("woff2"), url("../fonts/lato-italic.woff") format("woff"); }

html {
  font-family: "Lato"; }

body {
  max-width: 100vw;
  background-color: #F4F6F9;
  padding: 0;
  margin: 0; }

h1 {
  padding: 0;
  margin: 0; }

h2 {
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0; }

article {
  margin: auto;
  padding: 0;
  background-color: #ffff;
  text-align: center; }

header {
  text-align: center;
  padding: 2rem;
  margin: auto; }

h1 {
  text-align: center; }

.container {
  max-width: 546px; }

.masthead {
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  margin-block-start: 8rem;
  color: #333333; }

header {
  justify-content: center; }

@media (min-width: 1114px) {
  main > header {
    background-color: #F4F6F9;
    background-image: url("../img/bg_header_large.png");
    background-repeat: no-repeat;
    background-position: 546px 84%;
    margin: auto;
    text-align: left; }
    main > header .container {
      max-width: 1114px;
      padding: 2rem;
      margin: auto; }
  .container > * {
    max-width: 546px; }
  h1 {
    width: 92px;
    height: 32px;
    text-align: left; }
  .app_download {
    justify-content: flex-start; } }

.heading_description {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: #4F4F4F;
  margin-block-start: 1.5rem; }

.app_download {
  display: flex;
  flex-direction: row;
  margin-block-start: 3rem; }

.app_download a:nth-of-type(2) {
  margin-inline-start: 2rem; }

.interface {
  background-image: url("../img/bg_friendly_user_interface.png");
  background-repeat: no-repeat; }

.interface header {
  display: flex;
  flex-direction: column-reverse; }

.category {
  color: #00ADEE;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold; }
