@import "variables";

html {
  font-family: "Lato";
}


body {
  max-width: 100vw;
  background-color: $primary-color;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
article {
  margin: auto;
  padding: 1rem;
  background-color: $article-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
