@import "variables";
.heading_description {
  font-weight: $normal-size;
  font-style: $normal-style;
  font-size: 18px;
  line-height: 23px;
  color: $paragraph-color;
  margin-block-start: 1.5rem;
}
