@import "variables";
.features {
    background-color: #FAFAFA;
}
.features header {
    font-style: $normal-style;
    font-weight: $bold-size;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #333333;
}
.features div ul {
    display: flex;
    flex-direction: column;
}
.features li {
    list-style: none;
    text-align: center;
}
