@import "variables";
@font-face {
  font-style: $normal-style;
  font-family: $font-family;
  font-weight: $bold-size;
  src: local("Lato-Bold"),
       local("Lato-Bold"),
       url($font-path + "lato-bold.woff2") format('woff2'),
       url($font-path + "lato-bold.woff") format('woff');
}

@font-face {
  font-style: $normal-style;
  font-family: "Lato";
  font-weight: $normal-size;
  src: local("Lato-Regular"),
       local("Lato-Regular"),
       url('../fonts/lato-regular.woff2') format('woff2'),
       url('../fonts/lato-regular.woff') format('woff');
}

@font-face {
  font-style: $italic-style;
  font-family: "Lato";
  font-weight: 400;
  src: local("Lato-Italic"),
       local("Lato-Italic"),
       url('../fonts/lato-italic.woff2') format('woff2'),
       url('../fonts/lato-italic.woff') format('woff');
}
