$padding: 4rem;


header {
  text-align: center;
  padding: $padding;
}

.container {
  max-width: 546px;
}

@media(min-width:1040px) {
  main > header {
    background-color: #F4F6F9;
    background-image: url("../img/bg_header_large.png");
    background-repeat: no-repeat;
    background-position: 546px 90%;
    margin: auto;
  }

  main > header .container {
  max-width: 1114px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 3rem;
}
 .container > * {
  max-width: 546px;
}

}

