$padding: 2rem;
body > header {
  text-align: center;
  margin: auto;
}
main > header {
  text-align: center;
  padding: $padding;
  margin: $margin;
}
h1 {
  text-align: center;
}
.container {
  max-width: 546px;
}

