@import "variables";

.user_interface {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-block-end: 661px;
  background-image: url("../img/bg_friendly_user_interface.png");
  background-position: 50% calc(100% + 668px);
  background-repeat: no-repeat;
}

.user_interface header {
  display: flex;
  flex-direction: column-reverse;
}

h4 {
  font-size: 28px;
  font-weight: $bold-size;
  line-height: 37px;
  color: $article-heading-color;
}
.heading_info {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  text-align: center;
  padding-bottom: 2rem;
}

.category {
    color: #00ADEE;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}
.user_interface_link {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: $features-bg-color;
}

@media(min-width: $masthead-content) {
  .user_interface {
    background-color: $primary-color;
    background-image: url("../img/bg_friendly_user_interface.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 240px) 50%;
    margin-left: $margin;
    max-width: $width-faux-column;
    padding-block-end: 180px;
  }
  .user_interface header {
    text-align: start;
    padding-block-start: 12rem;
  }
  .heading_info {
    text-align: left;
  }
  .category {
    text-align: start;
  }
  .user_interface > * {
    max-width: 480px;
  }
  .paragraph_link {
    padding-block-start: 2rem;
    text-align: start;
  }

  }

