@import "variables";

.interface {
  background-image: url("../img/bg_friendly_user_interface.png");
  background-repeat: no-repeat;
}

.interface header {
  display: flex;
  flex-direction: column-reverse;
}

.category {
  color: #00ADEE;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}
