@import "variables";

@mixin text {
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  margin-block-start: 3rem;

}
.masthead {
  @include text;
  color: $heading-color;

}
header {
  justify-content: center;
}

@media(min-width: $masthead-content) {
  body > header {
    position: absolute;
    left: 50%;
  }
  body > header h1 {
    margin-left: calc(50% - #{$masthead-content});
  }

  main > header {
    background-color: $primary-color;
    background-image: url("../img/bg_header_large.png");
    background-repeat: no-repeat;
    background-position: 665px 83%;
    margin: $margin;
    text-align: left;
    padding-bottom: 10rem;

    .container {
      max-width: $width-faux-column;
      padding: 2rem;
      margin: $margin;
    }

  }
.container > * {
  max-width: 546px;
}

.app_download {
  justify-content: flex-start;
}
}



