$primary-color: #F4F6F9;
$font-family: "Lato";
$normal-size: 400;
$bold-size: 700;
$normal-style: normal;
$italic-style: italic;
$font-path: "../fonts/";
$font-fallbacks: Arial, Helvetica, sans-serif;
$margin: auto;
$heading-color:  #333333;
$paragraph-color: #4F4F4F;
$width-faux-column: 1114px;
$masthead-content: $width-faux-column;
$article-background-color: #ffff;
$article-heading-color: #333333;
$features-bg-color: #00ADEE;
