html {
  font-family: "Lato";
}


body {
  max-width: 100vw;
  background-color: #F4F6F9;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
