@font-face {
  font-style: normal;
  font-family: "Lato";
  font-weight: 700;
  src: local("Lato-Bold"), local("Lato-Bold"), url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff"); }

@font-face {
  font-style: normal;
  font-family: "Lato";
  font-weight: 400;
  src: local("Lato-Regular"), local("Lato-Regular"), url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff"); }

@font-face {
  font-style: italic;
  font-family: "Lato";
  font-weight: 400;
  src: local("Lato-Italic"), local("Lato-Italic"), url("../fonts/lato-italic.woff2") format("woff2"), url("../fonts/lato-italic.woff") format("woff"); }

html {
  font-family: "Lato"; }

body {
  max-width: 100vw;
  background-color: #F4F6F9;
  padding: 0;
  margin: 0; }

h1 {
  padding: 0;
  margin: 0; }

h2 {
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0; }

article {
  margin: auto;
  padding: 1rem;
  background-color: #ffff; }

header {
  text-align: center;
  padding: 2rem;
  margin: auto; }

h1 {
  text-align: center; }

.container {
  max-width: 546px; }

.masthead {
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  margin-block-start: 8rem;
  color: #333333; }

header {
  justify-content: center; }

@media (min-width: 1114px) {
  main > header {
    background-color: #F4F6F9;
    background-image: url("../img/bg_header_large.png");
    background-repeat: no-repeat;
    background-position: 665px 116%;
    margin: auto;
    text-align: left; }
    main > header .container {
      max-width: 1114px;
      padding: 2rem;
      margin: auto; }
  .container > * {
    max-width: 546px; }
  h1 {
    width: 92px;
    height: 32px;
    text-align: left; }
  .app_download {
    justify-content: flex-start; } }

.heading_description {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: #4F4F4F;
  margin-block-start: 1.5rem; }

.app_download {
  display: flex;
  flex-direction: row;
  margin-block-start: 3rem; }

.app_download a:nth-of-type(2) {
  margin-inline-start: 2rem; }

.user_interface {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-block-end: 661px;
  background-image: url("../img/bg_friendly_user_interface.png");
  background-position: 50% calc(100% + 668px);
  background-repeat: no-repeat; }

.user_interface header {
  display: flex;
  flex-direction: column-reverse; }

h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 37px;
  color: #333333; }

.heading_info {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #4F4F4F;
  text-align: center;
  padding-bottom: 2rem; }

.category {
  color: #00ADEE;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold; }

.user_interface_link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #00ADEE; }

.features {
  background-color: #FAFAFA; }

.features header {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  color: #333333; }

.features div ul {
  display: flex;
  flex-direction: column; }

.features li {
  list-style: none;
  text-align: center;
  padding-block-start: 2rem; }

.sponsors {
  background-color: #FAFAFA;
  text-align: center; }

.sponsors h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  color: #333333; }

.sponsors p {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 20px; }

.sports_tv {
  grid-column: 1/3; }

.sports_chanel {
  grid-column: 3/5; }

.nbc_sports {
  grid-column: 1/2; }

.designer_tech {
  grid-column: 2/4; }

.designer_news {
  grid-column: 4/5; }

.sky_sports {
  grid-column: 1/5;
  text-align: center; }

footer {
  text-align: start;
  background: #00ADEE;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  margin: auto; }

footer p img {
  padding-bottom: 2rem; }

footer div a {
  padding-right: 1rem; }

footer nav {
  padding-top: 2rem; }

footer nav ul {
  display: flex;
  flex-direction: row;
  padding: 0; }

footer nav li {
  list-style: none;
  margin-right: 2rem; }

footer nav a {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  justify-content: flex-start;
  padding-top: 2rem;
  padding-block-end: 2rem; }
