@font-face {
  font-family: "Lato-Regular";
  src: url('Lato-Regular.woff2') format('woff2'),
       url('Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: "Lato-Bold";
  src: url('Lato-Bold.woff2') format('woff2'),
       url('Lato-Bold.woff') format('woff');
}

